.simpleSlider__bar {
  position: relative;
  background-color: rgb(206, 206, 206);

  &_horizontal {
    width: 100%;
    height: $sliderWidth;
  }

  &_vertical {
    width: $sliderWidth;
    height: 100%;
  }
}