.panel-settings-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__option-labels {
    display: flex;
    gap: 10px;
  }

  &__option {
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(230, 230, 230, 0.562);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__option-label {
    direction: ltr;
    display: flex;
    align-items: center;
    column-gap: 5px;

    &_type {
      &_rtl {
        direction: rtl;
      }
    }
  }

  &__option-title {
    font-weight: 700;
  }
}