$sliderWidth: 5px;
@import '../components/bar/bar.scss';
@import '../components/range/range.scss';
@import '../components/toggle/toggle.scss';
@import '../components/thumb/thumb.scss';
@import '../components/scale/scale.scss';

.simpleSlider {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  
  &_horizontal {
    width: 100%;
    display: block;
  }

  &_vertical {
    height: 100%;
    display: flex;
  }
}