$sliderWidth: 5px;

.simpleSlider {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;

  &__bar {
    position: relative;
    width: 100%;
    height: $sliderWidth;
    background-color: rgb(206, 206, 206);

    &_vertical {
      width: $sliderWidth;
      height: 100%;
    }
  }

  &__range {
    position: absolute;
    height: 100%;
    left: 0%;
    right: 0%;
    background-color: tomato;

    &_vertical {
      height: auto;
      width: 100%;
      bottom: 0%;
      top: 0%;
    }
  }

  &__toggle {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: teal;
    transform: translate(-46%, -33%);
    opacity: 0.3;

    &_vertical {
      bottom: 0%;
      top: 0%;
      transform: translate(-33%, -43%);
    }
  }

  &__thumb {
    position: absolute;
    width: 30px;
    height: 15px;
    background-color: rgb(0, 225, 255);
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
  }
}